{
 "Inversion": 0,
 "EscortBlock": 0,
 "EscortTimer": 0,
 "Items": [
  {
   "RowIndex": 0,
   "OnSW1": "1",
   "OnSW2": "4",
   "OffSW1": "2",
   "OffSW2": "10",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "11",
   "OnTm2": "11",
   "OffTm1": "12",
   "OffTm2": "13"
  },
  {
   "RowIndex": 1,
   "OnSW1": "255",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 2,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 3,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 4,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 5,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 6,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 7,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 8,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 9,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 10,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 11,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 12,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 13,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 14,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 15,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 16,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 17,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 18,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 19,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 20,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 21,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 22,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 23,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 24,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 25,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 26,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 27,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 28,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 29,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 30,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 31,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 32,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 33,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 34,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 35,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 36,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 37,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 38,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 39,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 40,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 41,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 42,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 43,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 44,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 45,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 46,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 47,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 48,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 49,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 50,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 51,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 52,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 53,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 54,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 55,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 56,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 57,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 58,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 59,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 60,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 61,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 62,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 63,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 64,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 65,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 66,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 67,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 68,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 69,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 70,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 71,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 72,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 73,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 74,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 75,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 76,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 77,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 78,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 79,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 80,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 81,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 82,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 83,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 84,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 85,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 86,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 87,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 88,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 89,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 90,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 91,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 92,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 93,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 94,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 95,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 96,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 97,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 98,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 99,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 100,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 101,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 102,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 103,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 104,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 105,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 106,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 107,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 108,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 109,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 110,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 111,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 112,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 113,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 114,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 115,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 116,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 117,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 118,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 119,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 120,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 121,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 122,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 123,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 124,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 125,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 126,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  },
  {
   "RowIndex": 127,
   "OnSW1": "",
   "OnSW2": "",
   "OffSW1": "",
   "OffSW2": "",
   "OnRl1": "",
   "OnRl2": "",
   "OffRl1": "",
   "OffRl2": "",
   "OnTm1": "",
   "OnTm2": "",
   "OffTm1": "",
   "OffTm2": ""
  }
 ],
 "Settings": [
  "Реле №0",
  "Реле №1",
  "Реле №2",
  "Реле №3",
  "Реле №4",
  "Реле №5",
  "Реле №6",
  "Реле №7",
  "Реле №8",
  "Реле №9",
  "Реле №10",
  "Реле №11",
  "Реле №12",
  "Реле №13",
  "Реле №14",
  "Реле №15",
  "Выключатель №0",
  "Выключатель №1",
  "Выключатель №2",
  "Выключатель №3",
  "Выключатель №4",
  "Выключатель №5",
  "Выключатель №6",
  "Выключатель №7",
  "Выключатель №8",
  "Выключатель №9",
  "Выключатель №10",
  "Выключатель №11",
  "Выключатель №12",
  "Выключатель №13",
  "Выключатель №14",
  "Выключатель №15",
  "Выключатель №16",
  "Выключатель №17",
  "Выключатель №18",
  "Выключатель №19",
  "Выключатель №20",
  "Выключатель №21",
  "Выключатель №22",
  "Выключатель №23",
  "",
  "",
  ""
 ]
}